<!DOCTYPE html>
<html lang="es">
	<head>
			<meta charset="UTF-8">
			<title>Formulario de clientes</title>
            <link rel="stylesheet" href="../static/css/estilos.css">   
	</head>
	
	<body>
	         <header id="disenoenc">
	              <h1>Registro de cliente</h1> 
	         </header>
	         
	         <form action="#" method="post" class="formulario">
	         
		          <label for="dni">DNI:</label>
		          <input type="number" id="dni" name="dni" required="required"><br>
		          
		          <label for="nombres">Nombres:</label>
		          <input type="text" id="nombres" name="nombres" required><br>
		          
		          <label for="apellidos">Apellidos:</label>
		          <input type="text" id="apellidos" name="apellidos" required><br>
		          		          
	              <label for="fechaNacimiento">Fecha de nacimiento:</label>
		          <input type="date" id="fechaNacimiento" name="fechaNacimiento" required><br>
		          
		          <label class="selgen">Genero:</label> <br>
		          <input type="radio" id="generomasculino" name="genero" value="masculino">Masculino
		          <input type="radio" id="generofemenino" name="genero" value="femenino"> Femenino
		          <input type="radio" id="generootro" name="genero" value="otro"> Otro <br>
		                    
		          <label for="correoElectronico">Correo Electronico:</label>
		          <input type="email" name="correoElectronico" id="correoElectronico" required><br>
	              
	              <label for="domicilio">Domicilio:</label>
	              <input type="text" id="domicilio" name="domicilio" required><br>         
		          
		          <label for="provincia">Provincia:</label>
		          <select id="provincia" name="provincia" required>
		             <option value=""></option>
		             <option value="JUJUY">Jujuy </option>
		             <option value="SALTA">Salta </option>
		             <option value="TUCUMAN">Tucuman </option>
		             <option value="CORDOBA">Cordoba </option>
		             <option value="BUENOSAIRES">Buenos Aires</option>
		             <option value="CATAMARCA">Catamarca</option>
		             <option value="CHACO">Chaco</option>
		             <option value="Chubut">Chubut</option>
		             <option value="CORRIENTES">Corrientes </option>
		             <option value="ENTRERIOS">Entre Ríos</option>
		             <option value="FORMOSA">Formosa</option>
		             <option value="LAPAMPA">La Pampa</option>
		             <option value="LARIOJA">La Rioja</option>
		             <option value="MENDOZA">Mendoza</option>
		             <option value="MISIONES">Misiones</option>
		             <option value="NEUQUEN">Neuquen</option>
		             <option value="RIONEGRO">Río Negro</option>
		             <option value="SANJUAN">San Juan</option>
		             <option value="SANlUIS">San Luis</option>
		             <option value="SANTACRUZ">Santa Cruz</option>
		             <option value="SANTAFE">Santa Fe</option>
		             <option value="SANTIAGODELESTERO">Santiago del Estero</option>
		             <option value="TIERRADELFUEGO">Tierra del Fuego</option>
		          </select><br>	          
		           
		          <label for="telefonoCel">Telefono Celular:</label>
		          <input type="number" id="telefonoCel" name="telefonoCel"><br>
		                   
		          <label class="selcat">Categorías de interés: </label> <br>
		           Categoria 1 
		          <input type="checkbox" name="categoria" id= "categoria1" value= categoria1/> 
		           Categoria 2
		          <input type="checkbox" name= "categoria" id= "categoria2" value= categoria2/>
		           Categoria 3
		          <input type="checkbox" name= "categoria" id= "categoria3" value= categoria3/> <br>
		          	 	      
		          <label for="sugerencias">Sugerencias para la empresa: </label> <br>
		        	 	      
		          <textarea name="sugerencias" id="sugerencias" rows="5" cols="30"></textarea> <br>
		          
		          <label for="Password">Ingrese contraseña: </label>
		          <input type="password" id="Password" name="Password" required> <br>	    
		          
		          <label for="terminosCondiciones"></label> <br>
		           Acepto los términos y condiciones
		          <input type="checkbox" name="terminosCondiciones" id="terminosCondiciones" value="terminosCondiciones" required>
		                    
		          <label for="recibirinfo"></label> <br>
		           Acepto recibir información relativa a la empresa
		          <input type="checkbox" name="recibirinfo" id="recibirinfo" value="recibirinfo"> <br>
		          
		             
		          <h4>Enviar Formulario</h4>
		          <button type="submit" id="enviar">Enviar</button>
	         </form>
	         
	         <footer id="disenofooter">
	                <h4>Programacion Visual | Derechos reservados</h4> 
	         </footer>
	</body>
	   
	 
</html>