<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>UNJU</title>
		<link rel="stylesheet" href="../static/css/estilos.css">   
	</head>
	
	<body>
         <header id="disenoenc"> 
                   <h1>BIENVENIDO A PROGRAMACION VISUAL</h1>
         </header>
           
           <nav class="linksinfo">
                 <ul>
                       <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula virtual</a></li>
                       <li><a href="https://virtual.unju.edu.ar/pluginfile.php/803187/mod_resource/content/1/Programacion%20Visual%202024.pdf">Programa de la materia</a></li>
                       <li><a href="https://virtual.unju.edu.ar/mod/forum/view.php?id=234496">Anuncios de la materia</a></li>
                 </ul>     
           </nav>
           
           <main class="principal"> 
	                   <section id="docentes" class="nombres">                         
	                           <h2 class="titulos"> Docentes</h2>
	                           <ol>
	                                <li> Ariel Vega</li>
	                                <li> Carolina Apaza</li>
	                                <li> Juan Carlos Rodriguez</li>
	                                <li> Gustavo Sosa</li>
	                           </ol>
	                   </section>
	                   
	                   <section id="horarios" class="horarios">
	                         <h2 class="titulos">Horarios</h2>
	                         <table border="1">
	                                <tr> 
	                                      <th>Lunes</th>
	                                      <th>Miercoles</th>
	                                      <th>Jueves</th>
	                                      <th>Viernes</th>
	                                </tr>
	                                 <tr>
	                                      <td> Clase Practica Comision 1 </td>
	                                      <td> Clase Teorica </td>
	                                      <td> Clase Practica Comision 2 </td>
	                                      <td> Clase Practica Comision 3 </td>
	                                 </tr>     
                                     <tr>
	                                      <td> Lunes: 18 a 21 hs </td>
	                                      <td> Miércoles: 14 a 17 hs</td>
	                                      <td> Jueves: 14 a 17 hs </td>
	                                      <td> Viernes: 18 a 21 hs </td>
	                                 </tr>    
	                                  <tr>
	                                      <td> Carolina Apaza </td>
	                                      <td> Ariel Vega </td>
	                                      <td> Gustavo Sosa </td>
	                                      <td> Juan Carlos Rodriguez </td>
	                                 </tr>                
	                          </table>
	                   
	                   </section>
	                   
	                   <section id="enlaces" class="links"> 
	                               <h2 class="titulos">Enlaces a clases</h2>
	                               <nav>
	                                   <ul>  
	                                        <li>Teoria
	                                        <ul>
			                                 	<li><a href=   "https://zoom.us/j/93375231133#success"> https://bit.ly/zooMFI-14 </a></li>
			                                 </ul>
			                                <li>Comision 1
			                                <ul>
											 	<li><a href=   "https://zoom.us/j/93375231133#success"> https://bit.ly/ZOOMFI-14</a></li>
			                                </ul>
			                                <li>Comision 2
			                                <ul>
			                                 	<li><a href=   "https://zoom.us/j/93375231133#success">  https://bit.ly/ZOOMFI-14</a></li>
			                                </ul>
			                                <li>Comision 3
			                                <ul>
			                                 	<li><a href=   "https://zoom.us/j/93375231133#success">  https://bit.ly/ZOOMFI-14</a></li>
                                            </ul>	                                   
	                                   </ul>
	                               </nav>
	                                          
	                   
	                   </section> 
           
           </main>
           
           <aside class="adicion ">
                   <h3>Adicionales</h3>
                   <p class="adiciontitulo">Programas necesarios para la materia: </p>
                   <nav>
                     <ul> 
                          <li>Instalación de Java 17
	                          <ul>
	                          		<li><a href="https://www.youtube.com/watch?v=TRsCMJrKglw">https://www.youtube.com/watch?v=TRsCMJrKglw</a> </li>
	                          </ul>
                          <li>Instalación de Spring Tool Suite(primero instalar java)
	                          <ul>
	                        	   <li><a href="https://www.youtube.com/watch?v=89Mr-dYcHxA">https://www.youtube.com/watch?v=89Mr-dYcHxA</a> </li>
	                          </ul>
                     </ul>               
                   </nav>
                   <img alt="imagen del escudo" src="../static/images/logo-fi-unju-.jpg" class= "imagen">
           
           </aside>
           
           <footer id="contacto">
                                      
                     <h4>Informacion sobre la universidad</h4>
                     <nav>   
	                        <p> WhatsApp: 3884708223</p>
	                        <p> Correo: virtual@unju.edu.ar</p>     
	                        <p> Facebook:
	                           <a class="redes" href="https://www.facebook.com/unjuvirtual">https://www.facebook.com/unjuvirtual</a> 
	                        </p>   
	                        <p>Instagram:
	                           <a class="redes" href="https://www.instagram.com/fiunju/">https://www.instagram.com/fiunju/</a> 
	                        </p>   
                     </nav>
           </footer>

   </body>
</html>