<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>UNJU</title>
	</head>
	
	<body>
         <header>
                   <h1>BIENVENIDO A PROGRAMACION VISUAL</h1>
         </header>
           
           <nav>
                 <ul>
                       <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula virtual</a></li>
                       <li><a href="https://virtual.unju.edu.ar/pluginfile.php/803187/mod_resource/content/1/Programacion%20Visual%202024.pdf">Programa de la materia</a></li>
                       <li><a href="https://virtual.unju.edu.ar/mod/forum/view.php?id=234496">Anuncios de la materia</a></li>
                 </ul>     
           </nav>
           
           <main> 
	                   <section id="docentes">                         
	                           <h2> Docentes</h2>
	                           <ol>
	                                <li> Ariel Vega</li>
	                                <li> Carolina Apaza</li>
	                                <li> Juan Carlos Rodriguez</li>
	                                <li> Gustavo Sosa</li>
	                           </ol>
	                   </section>
	                   
	                   <section id="horarios">
	                          <h2>Horarios</h2>
	                          <table border="1">
	                                <tr> 
	                                      <th>Lunes</th>
	                                      <th>Miercoles</th>
	                                      <th>Jueves</th>
	                                      <th>Viernes</th>
	                                </tr>
	                                 <tr>
	                                      <td> Clase Practica Comision 1 </td>
	                                      <td> Clase Teorica </td>
	                                      <td> Clase Practica Comision 2 </td>
	                                      <td> Clase Practica Comision 3 </td>
	                                 </tr>     
                                     <tr>
	                                      <td> Lunes: 18 a 21 hs </td>
	                                      <td> Miércoles: 14 a 17 hs</td>
	                                      <td> Jueves: 14 a 17 hs </td>
	                                      <td> Viernes: 18 a 21 hs </td>
	                                 </tr>    
	                                  <tr>
	                                      <td> Carolina Apaza </td>
	                                      <td> Ariel Vega </td>
	                                      <td> Gustavo Sosa </td>
	                                      <td> Juan Carlos Rodriguez </td>
	                                 </tr>                
	                          </table>
	                   
	                   </section>
	                   <section id="enlaces"> 
	                               <h2>Enlaces a clases</h2>
	                               <nav>
	                                   <Ul>  
	                                        <Li>Teoria
	                                        <UL>
			                                 	<Li><a href=   "https://zoom.us/j/93375231133#success"> https://bit.ly/zooMFI-14 </a></Li>
			                                 </UL>
			                                <Li>Comision 1
			                                <UL>
											 	<Li><a href=   "https://zoom.us/j/93375231133#success"> https://bit.ly/ZOOMFI-14</a></Li>
			                                </UL>
			                                <Li>Comision 2
			                                <UL>
			                                 	<Li><a href=   "https://zoom.us/j/93375231133#success">  https://bit.ly/ZOOMFI-14</a></Li>
			                                </UL>
			                                <Li>Comision 3
			                                <UL>
			                                 	<Li><a href=   "https://zoom.us/j/93375231133#success">  https://bit.ly/ZOOMFI-14</a></Li>
                                            </UL>	                                   
	                                   </Ul>
	                               </nav>
	                                          
	                   
	                   </section> 
           
           </main>
           
           <aside>
                   <h3>Adicionales</h3>
                   <p>Programas necesarios para la materia: </p>
                   <nav>
                     <ul> <li>Instalación de Java 17
                          <UL>
                          <li><a href="https://www.youtube.com/watch?v=TRsCMJrKglw&t=56s">https://www.youtube.com/watch?v=TRsCMJrKglw&t=56s</a> </li>
                          </UL>
                          <li>Instalación de Spring Tool Suite(primero instalar java)
                          <UL>
                          <li><a href="https://www.youtube.com/watch?v=89Mr-dYcHxA&t=56s">https://www.youtube.com/watch?v=89Mr-dYcHxA&t=56s</a> </li>
                          </UL>
                     </ul>               
                   </nav>
                   <img alt="imagen del escudo" src="../static/images/logo-fi-unju-.jpg">
           
           </aside>
           
           <footer>
                    
                    
                     <h4>Informacion sobre la universidad</h4>
                     <nav>   
                             <p> WhatsApp: 3884708223</p>
                             <p> Correo: virtual@unju.edu.ar </p>     
                              <p> Facebook:
                              <a href="https://www.facebook.com/unjuvirtual">https://www.facebook.com/unjuvirtual</a> 
                              </p>   
                               <p> Instagram:
                              <a href="https://www.instagram.com/fiunju/">https://www.instagram.com/fiunju/</a> 
                              </p>   
                     </nav>
           </footer>

   </body>
</html>